# Python
__pycache__/
.pytest_cache/
*.pyc
*.pyo

# Virtual environment
.env/
.venv/
env/
venv/

# VSCode 설정
.vscode/

# Appium
*.log
*.apk

# Allure
allure-results/
allure-report/

# OS 파일
.DS_Store
Thumbs.db

# 메모 파일
memo

# 영상 원본, 정제
assets/origin/
assets/video_trim.ipynb